# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Environment Variables
.env

# Node
node_modules/

# VS Code
.vscode/

# Logs
*.log

# Static files
staticfiles/

# macOS
.DS_Store

# Windows
Thumbs.db