{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
      {% load static %}

<link rel="icon" href="{% static 'favicon/favicon.ico' %}" sizes="any">

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">

<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

<link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">

<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <title>

        {% block title %}

        Portfolio

        {% endblock %}

    </title>

    {% tailwind_css %}

    <!-- Google Font -->

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body class="bg-[#070B14] text-white overflow-x-hidden font-[Poppins]">

{% block content %}
{% endblock %}

<!-- GSAP -->

<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>

<!-- Lenis -->

<script src="https://unpkg.com/lenis@1.3.8/dist/lenis.min.js"></script>

<!-- Custom JS -->
<script src="{% static 'js/lenis.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

<script src="{% static 'js/animations.js' %}"></script>

</body>

</html>